<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add cats</title>
</head>
<body>
<h2>Cats</h2>
<form method="post" action="/add_cat">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="loc_x" placeholder="Location X">
    <input type="text" name="loc_y" placeholder="Location Y">
    <button type="submit">Add cat</button>
</form>
<h3>Cats list</h3>
{% for cat in cats %}
    <div><b>{{ cat.name }}</b>
    {{ cat.breed }}
    x: {{ cat.location_x }}
    y:  {{ cat.location_y }}
</div>
{% endfor %}

</body>
</html>